.wrapper {
    img {
        border-radius: 50%;
    }

    h4, h5 {
        width: 100%;
        text-align: center;
    }

    h4 {
        color: var(--white);
        font-size: 1.8rem;
    }

    h5 {
        font-weight: 400;
        font-size: 1.4rem;
    }
}