.wrapper {
    padding: 20px 0;
    display: flex;
    height: calc(100% - var(--default-layout-header-height) - var(--default-layout-controller-height));
}

.info {
    padding: 10px 40px;
    align-items: center;
    text-align: center;

    img {
        width: 340px;
        height: 340px;
        border-radius: 8px;
    }

    h3 {
        width: 340px;
        padding: 12px 0 0 0;
        margin: 0;
        font-size: 2.8rem;
    }

    p {
        font-size: 1.8rem;
        padding: 4px 0;
    }

    .playmusic {
        border-radius: 50%;
        animation-name: rotate;
        animation-duration: 30s;
        animation-iteration-count: infinite;
    }
}


@keyframes rotate {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}

.content {
    padding: 0 20px;

    h2 {
        color: var(--white);
        font-size: 5.2rem;
        margin: 0;
        border-bottom: 1px solid #38465f;
    }
}

.lyric-line {
    padding: 16px 0 0 0;
    height: 540px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    p {
        font-size: 2.8rem;
        padding: 2px 0;
        font-weight: 700;
    }
}