.wrapper {
    padding: 20px;
}

.navbar {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #273143;

    h2 {
        padding-right: 20px;
        font-size: 1.8rem;
        color: var(--white);
        cursor: pointer;
    }

    .active {
        color: #158370;
    }
}

.nav-btn {
    display: flex;
    padding: 10px 0;
    
    button {
        background-color: transparent;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 500;
        padding: 8px 16px;
        margin-right: 20px;
        border-radius: 16px;
        border: 1px solid #273143;
        cursor: pointer;
    }

    .active {
        background-color: #158370;
    }
}

.container {
    h2 {
        font-size: 1.4rem;
        padding: 20px;
    }
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #232834;
}

.song {
    width: 460px;
}

.album {
    font-size: 1.3rem;
    width: 380px;
    text-overflow: ellipsis;
}

.time {
    font-size: 1.4rem;
}

.mv-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;

    h2 {
        color: var(--text-color);
        font-weight: 500;
    }

    button {
        color: var(--white);
        background-color: #158370;
        width: 160px;
        padding: 8px 16px;
        margin: 20px 0;
        border-radius: 16px;
        cursor: pointer;
    }
}