.wrapper {
    display: flex;
    flex-direction: column;
}

.postcast-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        transform: scale(1.04) translateZ(0);
    }
}

.postcast-name{
    text-overflow: ellipsis;
    overflow: hidden;
    overflow-x: hidden;
    user-select: none;
    color: var(--white);
    width: 200px;
    height: 24px;
    font-weight: 700;
    margin: 8px 0 0 0;
}