.chart, .header {
    padding: 12px 12px;
}

.header {
    color: var(--white);
    font-size: 4rem;
    font-weight: 700;
}

.chart {
    position: relative;
    height: 360px;

    .tooltip {
        position: absolute;
    }
}

.top-song-wrapper {
    padding: 20px;
    
    .item-wrapper {
        display: flex;
        padding: 2px 8px;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #273143;
    
        &:hover {
            background-color: #3d4656;
        }
    }

    .top1 {
        -webkit-text-stroke: 2px #1374ec;
    }
    
    .top2 {
        -webkit-text-stroke: 2px #15dbc4;
    }
    
    .top3 {
        -webkit-text-stroke: 2px #d82036;
    }
}

.top-song {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    display: flex;
    justify-content: flex-end;
    width: 60px;
    font-size: 4rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
    margin-right: 12px;
}


.weekly-chart {
    color: var(--white);
    background-color: #12203d;
    margin-top: 12px;
    padding: 8px 0 20px;

    .title {
        font-size: 3.6rem;
        padding: 12px;
    }
}

.chart-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px;

    h4 {
        font-size: 2.4rem;
        padding: 0 0 0 20px;
    }
}

.chart-box {
    background-color: #293752;
    border-radius: 12px;
    padding: 4px;
}

.song-item {
    display: flex;
    align-items: center;
    margin-left: -32px;
    .top-song {
        font-size: 3.6rem;
    }
}

.song {
    width: 460px;
}

.album {
    font-size: 1.3rem;
    width: 300px;
    text-overflow: ellipsis;
}

.time {
    font-size: 1.4rem;
}